.skills-section {
    width: 85%;
    margin: 100px auto;

    h2 {
        color: white;
        font-size: 42px;
        text-align: center;
    }
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    figure {
        color: white;
        text-align: center;
        
        img {
            height: 120px;
            margin-bottom: 10px;
        }

        figcaption {
            font-weight: bold;
            font-size: 1.5rem;
        }

        p {
            color: #d9d9d9;
        }

    }
}

@media screen and (max-width: 1140px){

    .skills-section {
        h2 {
            font-size: 28px;
            text-align: start;
        }
    }

    .skills-container {
        display: flex;
        overflow-x: scroll;

        figure {
            margin-inline: 25px;

            &:first-of-type {
                margin-left: 0;
            }
        }

        img {
            height: 80px !important;
        }

        figcaption {
            font-size: 1rem !important;
        }

        p {
            display: none;
        }
    }
}

