@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.logo {
  max-width: 140px;
}
.logo img {
  width: 100%;
}

.nav-menu li {
  display: inline-block;
}
.nav-menu li a {
  font-weight: 400;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #ECE138;
}
.nav-menu li #blog-btn {
  font-weight: 600;
  background-color: #FCDA39;
  color: black;
  border-radius: 5px;
  text-decoration-color: white;
}

.nav-menu-mobile {
  display: none;
  z-index: 10;
  padding: 20px 10px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #0f0f0f;
  align-items: center;
}
.nav-menu-mobile .logo {
  width: 50%;
  margin-inline: auto;
}
.nav-menu-mobile ul {
  margin-inline: auto;
  width: 80%;
  list-style-type: none;
  margin-top: 10%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.nav-menu-mobile li {
  text-transform: uppercase;
}
.nav-menu-mobile li #blog-btn-mobile {
  width: 50%;
  margin-inline: auto;
  padding: 10px;
  background-color: #FCDA39;
  color: black;
  border-radius: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.nav-menu-mobile li a {
  font-weight: 400;
  font-size: 1.5rem;
  list-style-type: none;
  text-decoration: none;
  color: #9d9d9d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.nav-menu-mobile li a img {
  max-width: 25px;
  margin-right: 10px;
}
.nav-menu-mobile .closebtn {
  margin-top: 40px;
}

.hamburger-menu {
  display: none;
  padding: 10px;
}
.hamburger-menu ul {
  padding: 0;
}
.hamburger-menu li {
  list-style-type: none;
  height: 4px;
  background-color: #ECE138;
  margin-bottom: 8px;
  margin-left: auto;
  border-radius: 5px;
}
.hamburger-menu li:nth-of-type(1) {
  width: 40px;
}
.hamburger-menu li:nth-of-type(2) {
  width: 30px;
}
.hamburger-menu li:nth-of-type(3) {
  width: 20px;
  margin-bottom: 0px;
}

/* CONTAINER */
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1180px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 868px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 440px;
  }
}
/* MOBILE MENU */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
  .nav-menu {
    display: none;
  }
}
/* LOGO Size */
@media screen and (max-width: 640px) {
  .logo {
    width: 90px;
  }
}
header {
  width: 90%;
  margin-inline: auto;
  margin-top: 80px;
  display: flex;
  color: white;
  gap: 10%;
  position: relative;
}

.first-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.first-col .bullets ul {
  padding: 0;
}
.first-col .bullets li {
  list-style-type: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 30px;
}
.first-col .bullets li.active {
  position: relative;
}
.first-col .bullets li.active::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid white;
}
.first-col .page-numbers .current-num {
  color: #ECE138;
  font-size: 32px;
  position: relative;
}
.first-col .page-numbers .current-num::after {
  content: "04";
  font-size: 18px;
  position: absolute;
  top: -14px;
  right: -14px;
  color: white;
}

.header-text {
  width: 50%;
}
.header-text .header-heading {
  font-size: 7em;
  color: #ECE138;
  margin: 30px 0px;
}
.header-text .header-heading span {
  display: block;
  color: white;
  font-size: 4rem;
}
.header-text .header-paragraph {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.header-text .header-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  width: 168px;
  height: 44px;
  background: none;
  border: 1px solid #FCDA39;
  border-radius: 3px;
  color: #FCDA39;
  cursor: pointer;
}
.header-text .header-btn:hover {
  background: #FCDA39;
  color: black;
  transition: background ease 0.2s;
}

.header-image {
  width: 30%;
}
.header-image img {
  width: 100%;
}

@media screen and (max-width: 1310px) {
  .header-heading {
    font-size: 5rem !important;
  }
  .header-heading span {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 1050px) {
  header {
    gap: 5%;
  }
  .header-heading {
    font-size: 4rem !important;
  }
  .header-heading span {
    font-size: 2rem !important;
  }
}
/* Mobile View */
@media screen and (max-width: 768px) {
  .first-col {
    display: none;
  }
  header {
    margin-top: 50px;
    width: 98%;
  }
  .header-image {
    display: none;
  }
  .header-text {
    position: relative;
    width: 100%;
    height: 70vh;
    z-index: 5;
    padding: 5px;
  }
  .header-text::before {
    content: "";
    background-image: url("../assets/photo.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: -1;
  }
  .scroll {
    display: none !important;
  }
}
.scroll {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section {
  width: 85%;
  margin: 100px auto;
}
.skills-section h2 {
  color: white;
  font-size: 42px;
  text-align: center;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.skills-container figure {
  color: white;
  text-align: center;
}
.skills-container figure img {
  height: 120px;
  margin-bottom: 10px;
}
.skills-container figure figcaption {
  font-weight: bold;
  font-size: 1.5rem;
}
.skills-container figure p {
  color: #d9d9d9;
}

@media screen and (max-width: 1140px) {
  .skills-section h2 {
    font-size: 28px;
    text-align: start;
  }
  .skills-container {
    display: flex;
    overflow-x: scroll;
  }
  .skills-container figure {
    margin-inline: 25px;
  }
  .skills-container figure:first-of-type {
    margin-left: 0;
  }
  .skills-container img {
    height: 80px !important;
  }
  .skills-container figcaption {
    font-size: 1rem !important;
  }
  .skills-container p {
    display: none;
  }
}
.portfolio-section {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.text-column {
  margin-right: 10%;
}
.text-column h2 {
  font-size: 52px;
  color: white;
}
.text-column p {
  color: #d9d9d9;
  margin-bottom: 50px;
}
.text-column .links ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.text-column .links ul a {
  text-decoration: none;
}
.text-column .links ul a img {
  width: 40px;
}
.text-column .links ul a img:hover {
  transition: all ease 0.5s;
  transform: scale(1.05);
}
.text-column .links ul a p {
  font-weight: bold;
  color: #ECE138;
  margin: 3px 0 0 0;
}

.projects-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.projects-column .project {
  display: flex;
  align-items: center;
}
.projects-column .project:hover {
  transition: all ease-in-out 0.5s;
  transform: scale(1.03);
  z-index: 10;
  filter: blur(0);
}
.projects-column .project.project-1, .projects-column .project.project-6 {
  grid-column: span 2;
}
.projects-column .project img {
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .portfolio-section {
    justify-content: center;
    flex-direction: column;
  }
  .text-column h2 {
    font-size: 28px;
  }
  .text-column-paragraph, .links {
    display: none !important;
  }
  .projects-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .projects-column .project {
    border: 5px solid #424242;
    border-radius: 10px;
    padding: 5px;
    max-width: 300px;
    margin-inline: auto;
  }
}
.about-section {
  margin-top: 100px;
  width: 70%;
  margin-inline: auto;
  display: flex;
  color: black;
  align-items: center;
}

.image-container {
  z-index: 5;
  width: 800px;
}
.image-container img {
  width: 100%;
}

.info-container {
  background-color: #F2E970;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  left: -20px;
  z-index: 0;
  padding: 30px 50px;
}
.info-container h3 {
  margin: 0;
  font-size: 42px;
  font-weight: bold;
}
.info-container .icons {
  display: flex;
  align-items: center;
}
.info-container .icons a {
  padding: 10px;
}
.info-container .icons a img {
  width: 30px;
}

@media screen and (max-width: 798px) {
  .about-section {
    flex-direction: column;
    width: 90%;
  }
  .image-container {
    width: 80%;
  }
  .info-container {
    left: 0;
    top: -50px;
    padding: 30px;
    padding-top: 80px;
    border-radius: 50px;
  }
}
.blog-section {
  width: 80%;
  margin-inline: auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}

.text-content {
  max-width: 400px;
  position: relative;
  top: -50px;
}
.text-content h3 {
  font-size: 32px;
}
.text-content p {
  color: #d9d9d9;
}
.text-content form {
  width: 100%;
}
.text-content form input[type=email] {
  color: white;
  font-size: 22px;
  height: 50px;
  width: 95%;
  padding-left: 20px;
  border: 2px solid #ECE138;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 30px;
}
.text-content form input[type=button] {
  cursor: pointer;
  width: 180px;
  height: 40px;
  background-color: #ECE138;
  font-size: 24px;
  font-weight: bold;
  border-radius: 40px;
  border: none;
}

.blogs {
  display: flex;
  align-items: center;
  gap: 50px;
}
.blogs .blog {
  cursor: pointer;
  background-color: #242424;
  width: 270px;
  height: 200px;
  padding: 20px;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: end;
}
.blogs .blog .blog__image {
  height: 250px;
  width: 250px;
  position: absolute;
  top: -60%;
  transform: translateX(50%);
  right: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 1px solid #d9d9d9;
}
.blogs .blog .blog__info .meta {
  display: flex;
  align-items: center;
}
.blogs .blog .blog__info .meta .tag {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #070707;
  margin-right: 10px;
}
.blogs .blog .blog__info .meta .date {
  color: #818181;
  font-size: 12px;
}
.blogs .blog .blog__info .title p {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}
.blogs img {
  height: 100%;
}

@media screen and (max-width: 1270px) {
  .blog-section {
    flex-direction: column;
    gap: 150px;
    margin-top: 100px;
  }
  .blog-section .text-content {
    align-self: flex-start;
  }
}
@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .blog-section {
    gap: 50px;
  }
  .blogs {
    width: 125%;
    overflow: scroll;
    padding-top: 150px;
  }
  .blog__info {
    width: 250px;
  }
}
.contact-section {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 40px;
  color: white;
  margin: 100px auto;
}
.contact-section ::-moz-placeholder {
  color: #555;
}
.contact-section ::placeholder {
  color: #555;
}
.contact-section .form {
  border: 8px solid #2e2e2e;
  padding: 20px 30px;
}
.contact-section .form form {
  width: 350px;
  height: 350px;
  background-color: #121212;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-section .form form label {
  display: block;
  color: #909090;
}
.contact-section .form form input {
  width: 100%;
  height: 30px;
  padding-left: 0px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #969696;
  color: white;
  font-size: 18px;
}
.contact-section .form form input:focus {
  outline: 0;
  border-bottom: 1px solid yellow;
}
.contact-section .form form .message label {
  padding-bottom: 20px;
}
.contact-section .form form .message textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background-color: inherit;
  color: white;
  font-size: 18px;
  outline: none;
  font-weight: normal;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #969696;
}
.contact-section .form form .message textarea:focus {
  border-color: #ECE138;
}
.contact-section .form form .submit-btn {
  margin-inline: auto;
}
.contact-section .form form .submit-btn input {
  background-color: #ECE138;
  width: 150px;
  height: 40px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.contact-section .text-content {
  margin-left: 50px;
}
.contact-section .text-content h2 {
  font-size: 44px;
  background-color: black;
  position: relative;
  right: 80px;
}
.contact-section .text-content p {
  line-height: 25px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1050px) {
  .contact-section {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 500px) {
  .contact-section {
    padding: 0 5px;
  }
  .form {
    width: 100%;
    padding: 10px !important;
  }
  .form form {
    font-size: 16px;
    padding: 10px !important;
    width: 95% !important;
  }
  .text-content {
    margin: 0 !important;
  }
  .text-content h2 {
    position: static !important;
  }
}
.bottom-links {
  display: flex;
  color: #a0a0a0;
  justify-content: space-around;
  align-items: center;
  background-color: #070707;
}
.bottom-links a {
  color: #ECE138;
  text-decoration: none;
}

footer nav {
  margin-bottom: 50px;
}

@media screen and (max-width: 785px) {
  footer nav {
    display: none !important;
  }
  footer .bottom-links {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=main.css.map */